html {
    overflow-y: auto !important
}
body .header__contact-info {
    color: #ddd;
    line-height: 18px;
    margin-right: 15px;
    margin-top: 0;
    text-transform: lowercase
}
body .header__account {
    color: #ddd;
    font-size: 12px;
    margin: 3px 15px 0 0
}
body .header__mini-cart {
    color: #ddd;
    font-size: 12px
}
body .header__mini-cart::after {
    background-position: 2px -1698px;
    line-height: 19px;
    width: 27px
}
body .header__mini-cart::before {
    width: 18px
}
body .header__search {
    margin-right: 8vw;
    font-size: 14px
}
body .home-shelf .prateleira-padrao li {
    margin-left: 30px
}
body.lente .nav__item:nth-child(3) .submenu__list {
    margin-left: 40px
}
body .header__nav {
    margin-left: 1vw
}
body .nav__link {
    border: 0;
    font-size: 14px;
    padding: 0 1.2vw;
    cursor: pointer
}
body .nav__item:hover {
    text-decoration: none
}
body .nav__submenu.submenu {
    z-index: 99999 !important
}
body .nav__submenu::before {
    display: none
}
body .nav__item:hover {
    border-bottom: 2px solid #f90f00
}
body .submenu__categories {
    border: 0
}
body .nav__item:nth-of-type(3) .nav__submenu .submenu__list {
    line-height: 28px;
    width: 20%;
    margin: 0 50px 0 30px
}
body .submenu__banner {
    float: right
}
body .submenu__brands a {
    display: block;
    float: left;
    margin: 5px 3px;
    width: 130px !important
}
body .letra {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0
}
body .letra:first-child {
    margin-top: 0
}
body .ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid #eee
}
body .header__autocomplete .busca .close-search::before {
    content: "X";
    font-size: 16px;
    font-weight: bold
}
body .header__autocomplete .busca .btn-buscar {
    top: -10px
}
body .header__autocomplete .busca .fulltext-search-box {
    font-size: 25px;
    height: 55px;
    text-align: center;
    color: #555;
    padding-right: 60px
}
body .header__autocomplete .busca .close-search {
    background-color: #ed1b2f;
    color: #fff;
    font-size: 0;
    margin: 0;
    padding: 10px 13px;
    position: absolute;
    right: 8vw;
    text-transform: uppercase;
    top: 0
}
body .header__autocomplete .busca .close-search:hover {
    background-color: #b00
}
body .ui-autocomplete {
    background-color: transparent
}
body .ui-autocomplete .ui-menu-item {
    padding: 0
}
body .ui-autocomplete .ui-menu-item .ui-corner-all {
    padding: 10px 0 10px 50px;
    width: 100%
}
body .footer {
    margin-top: 30px
}
body .footer__link {
    display: block;
    font-size: 1rem;
    padding: 3px 0
}
body .footer__list {
    margin: 10px 0 20px
}
body .footer__contact .icon-mail::before {
    margin-right: 0
}
body .footer__contact-icon {
    margin-top: 15px;
    font-size: 15px
}
body .footer__news {
    background-color: #fafafa;
    padding: 20px 8%
}
body .footer__news .news__submit {
    margin-left: 1.3vw;
    height: 53px;
    line-height: 53px;
    width: 10%;
    font-size: 1.4rem
}
body .footer__col {
    padding-left: 7.7%;
    width: calc(100% / 4)
}
body .footer__contact-icon small {
    font-size: 0.7rem;
    line-height: 35px;
    padding-left: 21px
}
body .footer__col.security {
    border: 0
}
body .footer__bottom {
    padding: 20px 15%
}
body .mobile__menu {
    position: absolute;
    z-index: 99999
}
body .disponivel, body .garantias-of7 li, body .garantias-of7 .titulo, body.produto .garantia .selo, body .garantias-of7 li.troca a, body .garantias-of7 li.fabricante a, body.produto .produto-comprar .buy-button, body.produto #calculoFrete .content .prefixo::before, body.produto #calculoFrete .content #btnFreteSimulacao, body.produto .produto-descricao .container-garantia ul li {
    background-image: url("/arquivos/m-sprite.png");
    background-repeat: no-repeat
}
body.produto .brandName {
    margin-top: -15px
}
body.produto .produto-info {
    float: right;
    padding-left: 20px
}
body.produto .sku-selector-container .topic {
    display: none
}
body .produto-descricao {
    float: left
}
body.produto .produto-descricao {
    float: left
}
body.produto .produto-info .productName {
    margin: 20px 0;
    line-height: 1.6rem;
    font-size: 1.4rem;
    margin: 15px 0 10px;
    text-transform: uppercase
}
body .footer__news .news__mail {
    font-size: 1.4rem;
    height: 54px;
    padding-left: 17px
}
body.produto .produto-preco .valor-por {
    font-size: 11px;
    position: relative;
    text-transform: uppercase;
    top: 0
}
body.produto .produto-preco .valor-de, body.produto .produto-preco .valor-de .skuListPrice {
    font-size: 14px;
    padding-bottom: 5px
}
body.produto .produto-preco .valor-por::after {
    color: #000;
    content: "R$";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 11px
}
body.produto .produto-preco .preco-a-vista {
    border-top: 1px solid #eaeaea;
    display: block !important;
    font-size: 0;
    margin-top: 12px;
    padding-top: 11px
}
body.produto .produto-preco .valor-por .skuBestPrice {
    display: block;
    font-size: 1.7rem;
    left: 25px;
    letter-spacing: -1px;
    overflow: hidden;
    text-indent: -33px;
    top: -10px
}
body.produto .avista-cartao, body.produto .installments-text {
    display: none !important
}
body.produto .produto-preco .preco-a-vista .skuPrice::before {
    content: "ou ";
    font-weight: 300;
    font-size: 14px
}
body.produto .produto-preco .preco-a-vista .skuPrice::after {
    content: " \00e0vista no cart\00e3 o de cr\00E9 dito";
    font-weight: 300;
    font-size: 14px
}
body.produto .produto-preco .valor-por .skuBestPrice small {
    margin-right: 0
}
body.produto .produto-comprar .buy-button {
    text-indent: -9999rem;
    border: 0;
    text-transform: uppercase;
    height: 70px;
    width: 305px
}
body.produto .produto-comprar .buy-button:hover, body.produto #calculoFrete .content #btnFreteSimulacao:hover {
    opacity: 0.8
}
body.produto #calculoFrete {
    position: relative
}
body.produto #calculoFrete .prefixo {
    font-size: 0
}
body.produto .produto-preco {
    padding: 15px 0 5px
}
body .content>fieldset {
    padding-top: 30px
}
body.produto #calculoFrete .prefixo::after {
    content: "CONSULTE O PRAZO DE ENTREGA";
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0
}
body.produto #calculoFrete .content .prefixo::before {
    background-position: 0 -78px;
    position: absolute;
    left: 265px;
    top: 0;
    width: 30px
}
body .produto #calculoFrete .content #btnFreteSimulacao {
    background-color: #000
}
body.produto .produto-comprar .buy-button:hover {
    background-color: #57bd4f;
    color: #fff
}
body.produto .produto-preco .avista-cartao {
    border-top: 0;
    margin: 15px 0 4px
}
body.produto .produto-info strong {
    font-weight: bold;
    font-size: 1rem;
    color: #000
}
body.produto .produto-preco .valor-de .skuListPrice {
    color: grey;
    font-weight: 300
}
body.produto .produto-comprar {
    border: 0;
    padding-top: 0
}
body .m-similares {
    border-bottom: 1px solid #eaeaea;
    margin: 25px 0;
    padding-bottom: 5px;
    overflow: hidden
}
body .m-similares h2 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px
}
.m-similares li {
    float: left;
    width: calc(100% / 4)
}
.m-similares li .last {
    margin-right: 0
}
.m-similares .prateleira__link>img, .m-similares .prateleira__link {
    display: block;
    height: auto !important;
    width: 70px !important
}
.m-similares .prateleira__link img {
    border: 1px solid transparent
}
.m-similares .prateleira__link img:hover {
    border-color: #e20027
}
body.produto .produto-imagem .thumbs {
    display: block
}
body .quem-comprou h2 {
    font-size: 1.5rem
}
body.produto #calculoFrete .content .freight-zip-box {
    margin-left: 0;
    width: 200px;
    height: 42px;
    text-align: center;
    border: 1px solid #ddd
}
body.produto #calculoFrete .content #btnFreteSimulacao {
    background-position: 0 -104px;
    height: 42px;
    margin-left: 10px;
    text-indent: -9999rem;
    width: 90px;
    cursor: pointer
}
body.produto .container-especificacao, body.produto .container-garantia, body.produto .container-descricao {
    color: #5a5a5a
}
body.produto .container-garantia, body.produto .container-descricao {
    line-height: 22px
}
body.produto .produto-descricao .container-garantia ul li {
    background-position: 0 -295px;
    list-style: outside none none;
    padding-left: 15px
}
body.produto .garantia .selo {
    background-position: 0 -156px;
    line-height: 19px;
    margin-bottom: 30px;
    max-width: 680px;
    padding: 5px 0 15px 120px
}
body.produto .produto-descricao {
    overflow: hidden
}
body.produto .produto-descricao>div {
    clear: both;
    margin: 30px 0;
    overflow: hidden
}
body.produto .produto-descricao>div h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 29px;
    text-transform: uppercase
}
body.produto .produto-imagem .thumbs li, body.produto .produto-imagem .thumbs li a {
    border-color: transparent
}
body.produto .produto-descricao .container-especificacao {
    display: block
}
body.produto .produto-descricao>div>div {
    border: 0 none !important;
    display: block !important
}
body.produto .produto-descricao>div h3 span {
    background-color: #fff;
    color: #5a5a5a;
    font-size: 1.6rem;
    padding-right: 15px;
    position: relative
}
body.produto .produto-descricao .container-descricao {
    color: #4b4b4b;
    font-size: 15px;
    padding: 0;
    font-size: 14px;
    font-weight: 300
}
body.produto .produto-info .productDescriptionShort {
    color: #4d4d4d;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300
}
body.produto .produto-info .productDescription {
    font-size: 14px;
    font-weight: 300
}
body .container-especificacao #caracteristicas {
    color: #4b4b4b;
    padding: 37px 0 0 30px
}
body .container-especificacao #caracteristicas .value-field {
    text-align: left
}
body .container-especificacao .texto-1, body .container-especificacao .texto-2, body .container-especificacao .texto-3, body .container-especificacao .texto-4, body .container-especificacao .texto-0 {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300
}
body .garantias-of7 {
    border: 1px solid #eaeaea;
    margin-top: 30px;
    min-width: 300px
}
body .garantias-of7 .titulo {
    background-position: 0 -321px;
    display: block;
    height: 15px;
    margin: 18px 0 15px 18px;
    width: 100%
}
body .garantias-of7 li {
    border-top: 1px solid #f7f7f7;
    font-size: 0.9rem;
    line-height: 17px;
    padding: 12px 0 27px 47px;
    text-transform: uppercase;
    position: relative
}
body .garantias-of7 li strong {
    display: block
}
body .garantias-of7 li.troca {
    background-position: 15px -340px
}
body .garantias-of7 li.fabricante {
    background-position: 15px -385px
}
body .garantias-of7 li.atendimento {
    background-position: 15px -432px
}
body .garantias-of7 a {
    color: #000;
    text-decoration: none
}
body .quem-comprou {
    clear: both
}
body .quem-comprou h3 {
    padding: 30px 0 20px;
    text-align: center
}
body .quem-comprou h3 span {
    font-size: 2rem
}
body .quem-comprou h3 span::after {
    background-color: #424242;
    content: "";
    display: block;
    height: 2px;
    margin: 12px auto 30px;
    width: 30%
}
body.produto .productPrice {
    position: relative
}
body.produto .produto-preco .economia-de::before {
    content: "Parab\00E9ns!";
    margin-right: 5px
}
body.produto .produto-preco .economia-de {
    color: #449d06;
    display: block !important;
    font-size: 12px;
    position: absolute;
    left: 135px;
    top: 28px;
    white-space: pre
}
body.produto .produto #calculoFrete .freight-values thead th {
    line-height: 14px;
    padding: 5px 0
}
body .disponivel {
    background-position: 264px -526px;
    color: #53aecf;
    display: block;
    font-size: 0px;
    max-width: 305px;
    margin-top: 12px;
    padding: 7px 0;
    text-indent: 15px;
    text-transform: uppercase
}
body .disponivel:before {
    content: "Produto dispon\00EDvel para envio imediato";
    font-size: 11px
}
body.produto .other-payment-method-content, body.produto .see-other-payment-method-link {
    display: none
}
body.produto .x-parcel {
    position: relative;
    margin-top: 6px
}
body.produto .x-parcel>strong {
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    left: 235px;
    position: absolute;
    text-transform: uppercase;
    top: -76px;
    width: 100px
}
body.produto .other-payment-method-content {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 4px -2px #999;
    padding: 10px 14px;
    position: absolute;
    right: -15px;
    top: -59px;
    z-index: 9
}
body.produto .x-parcel .other-payment-method-ul {
    margin-bottom: 10px
}
body.produto .other-payment-method-content li {
    font-size: 12px;
    padding: 10px 0 0
}
body.produto .other-payment-method-content li:firt-child {
display:none
}
body.produto .other-payment-method-content li strong {
    font-weight: normal;
    font-size: 12px
}
body.produto .x-parcel>strong::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: "";
    position: relative;
    top: 9px;
    margin-left: 5px
}
body.produto .produto-descricao .container-garantia ul li, body.produto .produto-descricao .container-garantia p {
    font-weight: 300
}
body .garantias-of7 li .info {
    background-color: #fafafa;
    box-shadow: 1px 1px 3px -2px #555;
    color: #444;
    display: none;
    font-size: 9px;
    left: 225px;
    letter-spacing: 1px;
    line-height: 13px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 45px;
    font-weight: normal;
    width: 120px;
    z-index: 9
}
body .garantias-of7 li span {
    float: left;
    font-size: 13px
}
body .garantias-of7 li a {
    background-position: 0 -492px;
    display: block;
    float: left;
    height: 20px;
    margin-left: 3px;
    width: 20px
}
body .garantias-of7 li.troca a:hover .info, body .garantias-of7 li.fabricante a:hover .info {
    display: block
}
body.produto .descricao-preco .valor-dividido {
    display: block !important;
    margin-top: 0
}
body.produto .container-especificacao #caracteristicas table {
    border: 1px solid #eee;
    font-size: 14px
}
body.produto .container-especificacao #caracteristicas .even {
    background-color: #f5f5f5
}
body.produto .container-especificacao #caracteristicas th, body.produto .container-especificacao #caracteristicas td {
    padding: 6px;
    font-weight: 300
}
body.produto .valor-dividido.price-installments span {
    font-size: 0
}
body.produto .skuBestInstallmentNumber {
    font-weight: bold;
    font-size: 16px
}
body.produto .skuBestInstallmentNumber::before {
    content: "at\00E9";
    font-size: 14px;
    font-weight: 300
}
body.produto .skuBestInstallmentNumber::after {
    content: " de ";
    font-size: 14px;
    font-weight: 300
}
body.produto .skuBestInstallmentNumber .x {
    font-size: 16px !important;
    text-transform: uppercase
}
body.produto .valor-dividido.price-installments>span::after {
    content: " S/ Juros";
    font-size: 14px;
    font-weight: 300
}
body.produto .preco-a-vista.price-cash::after {
    color: #39a2c8;
    content: "Hoje \00E9seu dia de sorte!";
    display: block;
    font-size: 13px;
    margin-top: 7px
}
body.busca-encontrada .search__results .prateleira-padrao li {
    margin: 10px 10px 0;
    min-width: 300px;
    padding: 0;
    transition: none 0s ease 0s;
    width: calc(90% / 4)
}
body .prateleira-padrao .list_product {
    padding: 0 20px;
    display: inline-block
}
body .prateleira-padrao .prateleira__nome {
    border-bottom: 1px solid #eaeaea;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    height: 55px;
    display: block;
    margin-top: 20px
}
body .prateleira-padrao .prateleira__preco-por {
    float: left;
    position: relative;
    width: auto;
    margin-top: 0
}
body .prateleira-padrao .prateleira__preco-de {
    color: #575757;
    height: 23px;
    text-align: left;
    width: auto;
    text-decoration: none
}
body .prateleira__preco-por .prateleira__preco::before {
    content: "R$";
    font-size: 16px;
    line-height: 35px;
    position: absolute;
    text-indent: 8px
}
body .prateleira-padrao .prateleira__preco {
    color: #000;
    float: left;
    font-size: 1.5rem;
    margin: 0 5px 0 20px;
    font-weight: 400;
    overflow: hidden;
    text-align: left;
    text-indent: -29px;
    width: auto
}
body .prateleira-padrao .economia {
    color: #449d06;
    display: inline;
    font-size: 11px;
    width: auto
}
body .prateleira-padrao .prateleira__preco-parcelado {
    border-bottom: 1px solid #eaeaea;
    color: #000;
    height: 55px;
    padding: 2px 0 0;
    text-align: left;
    white-space: nowrap
}
body .prateleira-padrao .prateleira__preco-parcelas {
    font-size: 11px
}
body .prateleira-padrao .prod-id, .prod-id {
	display:block !important;
}
body .prateleira-padrao span.preco-por {
    bottom: 0;
    color: #575757;
    display: inline;
    font-size: 10px;
    left: -1px;
    position: absolute;
    top: -14px;
    width: auto
}
body .a-vista {
    clear: left;
    margin-top: 0 !important
}
body .a-vista strong {
    font-weight: bold
}
body .prateleira-padrao .preco-de-ativo {
    margin-right: 10px;
    text-decoration: line-through
}
body .prateleira__preco-parcelas>strong {
    font-weight: bold;
    font-size: 13px
}
body .prateleira-padrao .prateleira__comprar {
    margin-top: 15px
}
body .home .prateleira__2-produtos .prateleira-padrao li .list_product {
    padding: 0 8px
}
body.catalogo .pager .pages {
    padding: 60px 0 40px
}
body .prateleira-padrao .prateleira__comprar {
    display: none
}
body .freight-values tr {
    background-color: #f5f5f5;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px
}
body .produto #calculoFrete .freight-values thead th {
    background-color: #e9e9e9;
    border-right: 1px solid #ddd;
    font-size: 14px;
    font-weight: 300
}
body .produto #calculoFrete .freight-values tbody tr td {
    border: 2px solid #fff
}
body .catalogo .prateleira-padrao li {
    padding: 0 20px;
    height: 416px
}
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: 34vw
}
body .prateleira__1-produto .prateleira-padrao .list_product {
    padding: 0 20px
}
body .home .prateleira__2-produtos .prateleira-padrao li, body.home .banner-shelfs .prateleira__1-produto li {
    padding: 0
}
body.home .banner-shelfs .prateleira__2-produtos {
    padding: 0 30px 0 0
}
body.catalogo .prateleira-padrao li {
    padding: 20px 0 10px;
    margin-bottom: 50px;
    min-width: 300px
}
body.home .prateleira-padrao {
    height: 480px
}
body.home .slick-initialized {
    padding-bottom: 50px
}
body .busca-encontrada .search__results .main {
    margin: 0 35px 80px;
    width: calc(100% / 5)
}
body .flag.novidades {
    content: "Novo";
    font-size: 10px;
    border: 1px solid;
    text-transform: uppercase;
    padding: 3px 1px 1px 3px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 400
}
body.produto .produto-imagem {
    position: relative
}
body .header__autocomplete {
    border-bottom: 1px solid #eee;
    height: auto;
    z-index: 99999
}
body .flag {
    background-color: #333;
    color: #fff;
    float: right;
    font-size: 14px;
    height: 40px !important;
    margin: 0 10px;
    padding: 6px 7px;
    text-align: center;
    width: 64px !important
}
body .flag:first-child {
    margin-right: 0 !important
}
body .flag.best-sellers {
    background: url("/arquivos/best-sellers.png") no-repeat scroll !important;
    text-indent: -9999rem
}
body .flag.novo {
    background: url("/arquivos/novo.png") no-repeat scroll 0 -1px;
    text-indent: -9999rem
}
body .flag.frete-gratis {
    background: url("/arquivos/frete-gratis.png") no-repeat;
    text-indent: -9999rem
}
body .flag.esquenta-black-friday {
    background: url("/arquivos/esquenta-black-friday.png") no-repeat;
    text-indent: -9999rem
}
body .flags-product {
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 10px
}
body .flag-colecao {
    display: none
}
body .prateleira-padrao .percent-discount {
    font-size: 10px;
    border: 1px solid;
    text-transform: uppercase;
    padding: 5px ;
    display: none;
    letter-spacing: 2px;
    font-weight: 400;
	position: absolute;
	top:5px;
	right: 5px;
	background: #000;
	color: #fff;
	line-height: 1.5;
    
}
body.busca-encontrada .prateleira-padrao .prateleira-padrao {
    padding: 0 20px
}
body .pager li.previous, body .pager li.next {
    margin: 0 10px !important
}
body .prateleira-padrao .flag-colecao .flag {
    display: block
}
body .prateleira-padrao .flag-colecao .flag.best-sellers {
    margin-left: 0;
    position: static;
    float: right
}
body .submenu__list--item {
    line-height: 15px
}
body.produto.lente .container-especificacao #caracteristicas {
    float: left;
    padding: 0
}
body.produto.lente .container-especificacao span, body.produto.lente .container-especificacao img {
    display: none !important
}
body.produto.lente .sku-selector-container .topic {
    display: block
}
body.produto.lente .sku-selector-container .specification {
    width: 305px
}
body #seloEbit {
    float: left;
    margin: 10px 15px 0 0
}
dd.pci {
    margin: 10px 0 0
}
body.lente .skuList.item-dimension-Grau {
    max-height: 300px;
    overflow-y: auto !important
}
body .nav__item:nth-of-type(3) .nav__submenu .submenu__list, body .nav__item:nth-of-type(4) .nav__submenu .submenu__list {
    width: 15%;
    margin: 0 0 0 70px
}
body.busca-encontrada .search__results .prateleira-padrao li.icon-thumb-similarList {
    min-width: initial;
    width: 40px
}
body.busca-encontrada .search__results .prateleira-padrao li:hover .quickview-similares .prateleira__comprar {
    display: none !important
}
.vitrine .btn-load-more {
    margin: 30px auto
}


@media screen and (max-width: 768px) {
body.produto .produto-comprar .buy-button {
    width: 100%;
    background-position: -21px 0px
}
body .disponivel {
    font-size: 10px;
    margin-top: 3px
}
body.produto #calculoFrete .prefixo::after {
    font-size: .8rem
}
body.produto #calculoFrete .content .prefixo::before {
    left: initial;
    right: 0;
    top: -3px
}
body.produto .produto-preco .economia-de {
    color: #449d06;
    display: block !important;
    font-size: 12px;
    position: absolute;
    right: 16px;
    top: 0;
    left: inherit;
    white-space: pre-wrap;
    width: 100px;
    text-align: center
}
body.produto .x-parcel>strong {
    left: 0;
    top: 0
}
body.produto .produto-comprar .buy-button {
    margin: 24px auto 20px
}
body .disponivel:before {
    display: none
}
}

@media screen and (max-width: 425px) {
body.produto .produto-comprar .buy-button {
    width: 305px !important;
    background-position: 0px 0px
}
.busca-encontrada .search__results .prateleira-padrao li {
    width: 100%
}
.prateleira-padrao .prateleira__esgotado {
    margin-bottom: 20px
}
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: auto
}
body.home .banner-shelfs .prateleira__1-produto .prateleira-padrao .slick-prev {
    left: -18px
}
body.home .banner-shelfs .prateleira__1-produto .prateleira-padrao .slick-next {
    right: -18px
}
body .header__sandwich {
    z-index: 999
}
body.produto .brandName {
    margin-top: 0
}
body.produto .brandName {
    text-align: center
}
body .m-similares li {
    width: calc(100% / 3)
}
body .garantias-of7 li span {
    font-size: 13px
}
body.produto .produto-descricao>div h3 span {
    font-size: 1.2rem
}
body .container-especificacao .texto-4 {
    top: 290px
}
body.produto .garantia .selo {
    background: transparent;
    padding: 0
}
body.produto .produto-descricao .container-garantia ul li {
    font-size: 13px
}
body.produto .produto-info {
    margin: 0;
    padding: 0;
    width: 100% !important;
    margin-top: 50px
}
body .quem-comprou h3 {
    padding: 0
}
body .quem-comprou h3 span {
    font-size: 1.4rem;
    line-height: 25px
}
body .footer .footer__news .news__call {
    padding: 0 0 10px 0
}
body .footer .footer__news .news__submit {
    width: 127px
}
body .footer .footer__news {
    min-height: 220px
}
body .footer__middle {
    padding: 20px 0px
}
body .footer .footer__title {
    border-color: #999;
    line-height: 50px;
    font-size: 1rem;
    margin-bottom: -1px
}
body .footer__contact {
    padding-bottom: 20px
}
body .footer__bottom-info {
    padding: 0
}
body .footer__bottom {
    padding: 0px 5% 63px;
    border-top: 1px solid #777;
    line-height: 16px
}
body.produto .produto-imagem .zoomPad {
    border: 0
}
}

@media screen and (max-width: 1024px) {
body.produto .produto-info {
    margin-right: 0;
    width: 40%
}
body .prateleira-padrao .prateleira__nome {
    height: 78px
}
body .prateleira-padrao .prateleira__preco-por {
    width: 100%
}
body .prateleira-padrao .prateleira__preco-parcelado {
    width: 100%;
    float: left;
    margin-top: 0
}
body .prateleira-padrao .prateleira__preco {
    margin: 3px 5px 0 20px
}
body .prateleira-padrao .prateleira__preco-parcelas {
    margin-top: 0
}
body .a-vista {
    margin-top: 2px !important
}
body .prateleira-padrao .prateleira__preco-de {
    position: relative
}
body .prateleira-padrao .economia {
    color: #449d06;
    display: inline;
    font-size: 11px;
    width: auto;
    width: 76px;
    position: absolute;
    top: 2px;
    right: 8px;
    text-align: center;
    line-height: 15px
}
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: 47vw
}
}

@media screen and (max-width: 1024px) {
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: auto
}
}

@media screen and (max-width: 320px) {
.home .prateleira-padrao .prateleira__preco-de {
    width: 100%
}
body .a-vista {
    white-space: pre-line
}
}
html {
    overflow-y: auto !important
}
body .header__contact-info {
    color: #ddd;
    line-height: 18px;
    margin-right: 15px;
    margin-top: 0;
    text-transform: lowercase
}
body .header__account {
    color: #ddd;
    font-size: 12px;
    margin: 3px 15px 0 0
}
body .header__mini-cart {
    color: #ddd;
    font-size: 12px
}
body .header__mini-cart::after {
    background-position: 2px -1698px;
    line-height: 19px;
    width: 27px
}
body .header__mini-cart::before {
    width: 18px
}
body .header__search {
    margin-right: 8vw;
    font-size: 14px
}
body .home-shelf .prateleira-padrao li {
    margin-left: 30px
}
body.lente .nav__item:nth-child(3) .submenu__list {
    margin-left: 40px
}
body .header__nav {
    margin-left: 1vw
}
body .nav__link {
    border: 0;
    font-size: 14px;
    padding: 0 1.2vw;
    cursor: pointer
}
body .nav__item:hover {
    text-decoration: none
}
body .nav__submenu.submenu {
    z-index: 99999 !important
}
body .nav__submenu::before {
    display: none
}
body .nav__item:hover {
    border-bottom: 2px solid #f90f00
}
body .submenu__categories {
    border: 0
}
body .nav__item:nth-of-type(3) .nav__submenu .submenu__list {
    line-height: 28px;
    width: 20%;
    margin: 0 50px 0 30px
}
body .submenu__banner {
    float: right
}
body .submenu__brands a {
    display: block;
    float: left;
    margin: 5px 3px;
    width: 130px !important
}
body .letra {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0
}
body .letra:first-child {
    margin-top: 0
}
body .ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid #eee
}
body .header__autocomplete .busca .close-search::before {
    content: "X";
    font-size: 16px;
    font-weight: bold
}
body .header__autocomplete .busca .btn-buscar {
    top: -10px
}
body .header__autocomplete .busca .fulltext-search-box {
    font-size: 25px;
    height: 55px;
    text-align: center;
    color: #555;
    padding-right: 60px
}
body .header__autocomplete .busca .close-search {
    background-color: #ed1b2f;
    color: #fff;
    font-size: 0;
    margin: 0;
    padding: 10px 13px;
    position: absolute;
    right: 8vw;
    text-transform: uppercase;
    top: 0
}
body .header__autocomplete .busca .close-search:hover {
    background-color: #b00
}
body .ui-autocomplete {
    background-color: transparent
}
body .ui-autocomplete .ui-menu-item {
    padding: 0
}
body .ui-autocomplete .ui-menu-item .ui-corner-all {
    padding: 10px 0 10px 50px;
    width: 100%
}
body .footer {
    margin-top: 30px
}
body .footer__link {
    display: block;
    font-size: 1rem;
    padding: 3px 0
}
body .footer__list {
    margin: 10px 0 20px
}
body .footer__contact .icon-mail::before {
    margin-right: 0
}
body .footer__contact-icon {
    margin-top: 15px;
    font-size: 15px
}
body .footer__news {
    background-color: #fafafa;
    padding: 20px 8%
}
body .footer__news .news__submit {
    margin-left: 1.3vw;
    height: 53px;
    line-height: 53px;
    width: 10%;
    font-size: 1.4rem
}
body .footer__col {
    padding-left: 7.7%;
    width: calc(100% / 4)
}
body .footer__contact-icon small {
    font-size: 0.7rem;
    line-height: 35px;
    padding-left: 21px
}
body .footer__col.security {
    border: 0
}
body .footer__bottom {
    padding: 20px 15%
}
body .mobile__menu {
    position: absolute;
    z-index: 99999
}
body .disponivel, body .garantias-of7 li, body .garantias-of7 .titulo, body.produto .garantia .selo, body .garantias-of7 li.troca a, body .garantias-of7 li.fabricante a, body.produto .produto-comprar .buy-button, body.produto #calculoFrete .content .prefixo::before, body.produto #calculoFrete .content #btnFreteSimulacao, body.produto .produto-descricao .container-garantia ul li {
    background-image: url("/arquivos/m-sprite.png");
    background-repeat: no-repeat
}
body.produto .brandName {
    margin-top: -15px
}
body.produto .produto-info {
    float: right;
    padding-left: 20px
}
body.produto .sku-selector-container .topic {
    display: none
}
body .produto-descricao {
    float: left
}
body.produto .produto-descricao {
    float: left
}
body.produto .produto-info .productName {
    margin: 20px 0;
    line-height: 1.6rem;
    font-size: 1.4rem;
    margin: 15px 0 10px;
    text-transform: uppercase
}
body .footer__news .news__mail {
    font-size: 1.4rem;
    height: 54px;
    padding-left: 17px
}
body.produto .produto-preco .valor-por {
    font-size: 11px;
    position: relative;
    text-transform: uppercase;
    top: 0
}
body.produto .produto-preco .valor-de, body.produto .produto-preco .valor-de .skuListPrice {
    font-size: 14px;
    padding-bottom: 5px
}
body.produto .produto-preco .valor-por::after {
    color: #000;
    content: "R$";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 11px
}
body.produto .produto-preco .preco-a-vista {
    border-top: 1px solid #eaeaea;
    display: block !important;
    font-size: 0;
    margin-top: 12px;
    padding-top: 11px
}
body.produto .produto-preco .valor-por .skuBestPrice {
    display: block;
    font-size: 1.7rem;
    left: 25px;
    letter-spacing: -1px;
    overflow: hidden;
    text-indent: -33px;
    top: -10px
}
body.produto .avista-cartao, body.produto .installments-text {
    display: none !important
}
body.produto .produto-preco .preco-a-vista .skuPrice::before {
    content: "ou ";
    font-weight: 300;
    font-size: 14px
}
body.produto .produto-preco .preco-a-vista .skuPrice::after {
    content: " \00e0vista no cart\00e3 o de cr\00E9 dito";
    font-weight: 300;
    font-size: 14px
}
body.produto .produto-preco .valor-por .skuBestPrice small {
    margin-right: 0
}
body.produto .produto-comprar .buy-button {
    text-indent: -9999rem;
    border: 0;
    text-transform: uppercase;
    height: 70px;
    width: 305px
}
body.produto .produto-comprar .buy-button:hover, body.produto #calculoFrete .content #btnFreteSimulacao:hover {
    opacity: 0.8
}
body.produto #calculoFrete {
    position: relative
}
body.produto #calculoFrete .prefixo {
    font-size: 0
}
body.produto .produto-preco {
    padding: 15px 0 5px
}
body .content>fieldset {
    padding-top: 30px
}
body.produto #calculoFrete .prefixo::after {
    content: "CONSULTE O PRAZO DE ENTREGA";
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0
}
body.produto #calculoFrete .content .prefixo::before {
    background-position: 0 -78px;
    position: absolute;
    left: 265px;
    top: 0;
    width: 30px
}
body .produto #calculoFrete .content #btnFreteSimulacao {
    background-color: #000
}
body.produto .produto-comprar .buy-button:hover {
    background-color: #57bd4f;
    color: #fff
}
body.produto .produto-preco .avista-cartao {
    border-top: 0;
    margin: 15px 0 4px
}
body.produto .produto-info strong {
    font-weight: bold;
    font-size: 1rem;
    color: #000
}
body.produto .produto-preco .valor-de .skuListPrice {
    color: grey;
    font-weight: 300
}
body.produto .produto-comprar {
    border: 0;
    padding-top: 0
}
body .m-similares {
    border-bottom: 1px solid #eaeaea;
    margin: 25px 0;
    padding-bottom: 5px;
    overflow: hidden
}
body .m-similares h2 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px
}
.m-similares li {
    float: left;
    width: calc(100% / 4)
}
.m-similares li .last {
    margin-right: 0
}
.m-similares .prateleira__link>img, .m-similares .prateleira__link {
    display: block;
    height: auto !important;
    width: 70px !important
}
.m-similares .prateleira__link img {
    border: 1px solid transparent
}
.m-similares .prateleira__link img:hover {
    border-color: #e20027
}
body.produto .produto-imagem .thumbs {
    display: block
}
body .quem-comprou h2 {
    font-size: 1.5rem
}
body.produto #calculoFrete .content .freight-zip-box {
    margin-left: 0;
    width: 200px;
    height: 42px;
    text-align: center;
    border: 1px solid #ddd
}
body.produto #calculoFrete .content #btnFreteSimulacao {
    background-position: 0 -104px;
    height: 42px;
    margin-left: 10px;
    text-indent: -9999rem;
    width: 90px;
    cursor: pointer
}
body.produto .container-especificacao, body.produto .container-garantia, body.produto .container-descricao {
    color: #5a5a5a
}
body.produto .container-garantia, body.produto .container-descricao {
    line-height: 22px
}
body.produto .produto-descricao .container-garantia ul li {
    background-position: 0 -295px;
    list-style: outside none none;
    padding-left: 15px
}
body.produto .garantia .selo {
    background-position: 0 -156px;
    line-height: 19px;
    margin-bottom: 30px;
    max-width: 680px;
    padding: 5px 0 15px 120px
}
body.produto .produto-descricao {
    overflow: hidden
}
body.produto .produto-descricao>div {
    clear: both;
    margin: 30px 0;
    overflow: hidden
}
body.produto .produto-descricao>div h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 29px;
    text-transform: uppercase
}
body.produto .produto-imagem .thumbs li, body.produto .produto-imagem .thumbs li a {
    border-color: transparent
}
body.produto .produto-descricao .container-especificacao {
    display: block
}
body.produto .produto-descricao>div>div {
    border: 0 none !important;
    display: block !important
}
body.produto .produto-descricao>div h3 span {
    background-color: #fff;
    color: #5a5a5a;
    font-size: 1.6rem;
    padding-right: 15px;
    position: relative
}
body.produto .produto-descricao .container-descricao {
    color: #4b4b4b;
    font-size: 15px;
    padding: 0;
    font-size: 14px;
    font-weight: 300
}
body.produto .produto-info .productDescriptionShort {
    color: #4d4d4d;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300
}
body.produto .produto-info .productDescription {
    font-size: 14px;
    font-weight: 300
}
body .container-especificacao #caracteristicas {
    color: #4b4b4b;
    padding: 37px 0 0 30px
}
body .container-especificacao #caracteristicas .value-field {
    text-align: left
}
body .container-especificacao .texto-1, body .container-especificacao .texto-2, body .container-especificacao .texto-3, body .container-especificacao .texto-4, body .container-especificacao .texto-0 {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300
}
body .garantias-of7 {
    border: 1px solid #eaeaea;
    margin-top: 30px;
    min-width: 300px
}
body .garantias-of7 .titulo {
    background-position: 0 -321px;
    display: block;
    height: 15px;
    margin: 18px 0 15px 18px;
    width: 100%
}
body .garantias-of7 li {
    border-top: 1px solid #f7f7f7;
    font-size: 0.9rem;
    line-height: 17px;
    padding: 12px 0 27px 47px;
    text-transform: uppercase;
    position: relative
}
body .garantias-of7 li strong {
    display: block
}
body .garantias-of7 li.troca {
    background-position: 15px -340px
}
body .garantias-of7 li.fabricante {
    background-position: 15px -385px
}
body .garantias-of7 li.atendimento {
    background-position: 15px -432px
}
body .garantias-of7 a {
    color: #000;
    text-decoration: none
}
body .quem-comprou {
    clear: both
}
body .quem-comprou h3 {
    padding: 30px 0 20px;
    text-align: center
}
body .quem-comprou h3 span {
    font-size: 2rem
}
body .quem-comprou h3 span::after {
    background-color: #424242;
    content: "";
    display: block;
    height: 2px;
    margin: 12px auto 30px;
    width: 30%
}
body.produto .productPrice {
    position: relative
}
body.produto .produto-preco .economia-de::before {
    content: "Parab\00E9ns!";
    margin-right: 5px
}
body.produto .produto-preco .economia-de {
    color: #449d06;
    display: block !important;
    font-size: 12px;
    position: absolute;
    left: 135px;
    top: 28px;
    white-space: pre
}
body.produto .produto #calculoFrete .freight-values thead th {
    line-height: 14px;
    padding: 5px 0
}
body .disponivel {
    background-position: 264px -526px;
    color: #53aecf;
    display: block;
    font-size: 0px;
    max-width: 305px;
    margin-top: 12px;
    padding: 7px 0;
    text-indent: 15px;
    text-transform: uppercase
}
body .disponivel:before {
    content: "Produto dispon\00EDvel para envio imediato";
    font-size: 11px
}
body.produto .other-payment-method-content, body.produto .see-other-payment-method-link {
    display: none
}
body.produto .x-parcel {
    position: relative;
    margin-top: 6px
}
body.produto .x-parcel>strong {
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    left: 235px;
    position: absolute;
    text-transform: uppercase;
    top: -76px;
    width: 100px
}
body.produto .other-payment-method-content {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 4px -2px #999;
    padding: 10px 14px;
    position: absolute;
    right: -15px;
    top: -59px;
    z-index: 9
}
body.produto .x-parcel .other-payment-method-ul {
    margin-bottom: 10px
}
body.produto .other-payment-method-content li {
    font-size: 12px;
    padding: 10px 0 0
}
body.produto .other-payment-method-content li:firt-child {
display:none
}
body.produto .other-payment-method-content li strong {
    font-weight: normal;
    font-size: 12px
}
body.produto .x-parcel>strong::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: "";
    position: relative;
    top: 9px;
    margin-left: 5px
}
body.produto .produto-descricao .container-garantia ul li, body.produto .produto-descricao .container-garantia p {
    font-weight: 300
}
body .garantias-of7 li .info {
    background-color: #fafafa;
    box-shadow: 1px 1px 3px -2px #555;
    color: #444;
    display: none;
    font-size: 9px;
    left: 225px;
    letter-spacing: 1px;
    line-height: 13px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 45px;
    font-weight: normal;
    width: 120px;
    z-index: 9
}
body .garantias-of7 li span {
    float: left;
    font-size: 13px
}
body .garantias-of7 li a {
    background-position: 0 -492px;
    display: block;
    float: left;
    height: 20px;
    margin-left: 3px;
    width: 20px
}
body .garantias-of7 li.troca a:hover .info, body .garantias-of7 li.fabricante a:hover .info {
    display: block
}
body.produto .descricao-preco .valor-dividido {
    display: block !important;
    margin-top: 0
}
body.produto .container-especificacao #caracteristicas table {
    border: 1px solid #eee;
    font-size: 14px
}
body.produto .container-especificacao #caracteristicas .even {
    background-color: #f5f5f5
}
body.produto .container-especificacao #caracteristicas th, body.produto .container-especificacao #caracteristicas td {
    padding: 6px;
    font-weight: 300
}
body.produto .valor-dividido.price-installments span {
    font-size: 0
}
body.produto .skuBestInstallmentNumber {
    font-weight: bold;
    font-size: 16px
}
body.produto .skuBestInstallmentNumber::before {
    content: "at\00E9";
    font-size: 14px;
    font-weight: 300
}
body.produto .skuBestInstallmentNumber::after {
    content: " de ";
    font-size: 14px;
    font-weight: 300
}
body.produto .skuBestInstallmentNumber .x {
    font-size: 16px !important;
    text-transform: uppercase
}
body.produto .valor-dividido.price-installments>span::after {
    content: " S/ Juros";
    font-size: 14px;
    font-weight: 300
}
body.produto .preco-a-vista.price-cash::after {
    color: #39a2c8;
    content: "Hoje \00E9seu dia de sorte!";
    display: block;
    font-size: 13px;
    margin-top: 7px
}
body.busca-encontrada .search__results .prateleira-padrao li {
    margin: 10px 10px 0;
    min-width: 300px;
    padding: 0;
    transition: none 0s ease 0s;
    width: calc(90% / 4)
}
body .prateleira-padrao .list_product {
    padding: 0 20px;
    display: inline-block
}
body .prateleira-padrao .prateleira__nome {
    border-bottom: 1px solid #eaeaea;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    height: 55px;
    display: block;
    margin-top: 20px
}
body .prateleira-padrao .prateleira__preco-por {
    float: left;
    position: relative;
    width: auto;
    margin-top: 0
}
body .prateleira-padrao .prateleira__preco-de {
    color: #575757;
    height: 23px;
    text-align: left;
    width: auto;
    text-decoration: none
}
body .prateleira__preco-por .prateleira__preco::before {
    content: "R$";
    font-size: 16px;
    line-height: 35px;
    position: absolute;
    text-indent: 8px
}
body .prateleira-padrao .prateleira__preco {
    color: #000;
    float: left;
    font-size: 1.5rem;
    margin: 0 5px 0 20px;
    font-weight: 400;
    overflow: hidden;
    text-align: left;
    text-indent: -29px;
    width: auto
}
body .prateleira-padrao .economia {
    color: #449d06;
    display: inline;
    font-size: 11px;
    width: auto
}
body .prateleira-padrao .prateleira__preco-parcelado {
    border-bottom: 1px solid #eaeaea;
    color: #000;
    height: 55px;
    padding: 2px 0 0;
    text-align: left;
    white-space: nowrap
}
body .prateleira-padrao .prateleira__preco-parcelas {
    font-size: 11px
}

body .prateleira-padrao span.preco-por {
    bottom: 0;
    color: #575757;
    display: inline;
    font-size: 10px;
    left: -1px;
    position: absolute;
    top: -14px;
    width: auto
}
body .a-vista {
    clear: left;
    margin-top: 0 !important
}
body .a-vista strong {
    font-weight: bold
}
body .prateleira-padrao .preco-de-ativo {
    margin-right: 10px;
    text-decoration: line-through
}
body .prateleira__preco-parcelas>strong {
    font-weight: bold;
    font-size: 13px
}
body .prateleira-padrao .prateleira__comprar {
    margin-top: 15px
}
body .home .prateleira__2-produtos .prateleira-padrao li .list_product {
    padding: 0 8px
}
body.catalogo .pager .pages {
    padding: 60px 0 40px
}
body .prateleira-padrao .prateleira__comprar {
    display: none
}
body .freight-values tr {
    background-color: #f5f5f5;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px
}
body .produto #calculoFrete .freight-values thead th {
    background-color: #e9e9e9;
    border-right: 1px solid #ddd;
    font-size: 14px;
    font-weight: 300
}
body .produto #calculoFrete .freight-values tbody tr td {
    border: 2px solid #fff
}
body .catalogo .prateleira-padrao li {
    padding: 0 20px;
    height: 416px
}
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: 34vw
}
body .prateleira__1-produto .prateleira-padrao .list_product {
    padding: 0 20px
}
body .home .prateleira__2-produtos .prateleira-padrao li, body.home .banner-shelfs .prateleira__1-produto li {
    padding: 0
}
body.home .banner-shelfs .prateleira__2-produtos {
    padding: 0 30px 0 0
}
body.catalogo .prateleira-padrao li {
    padding: 20px 0 10px;
    margin-bottom: 50px;
    min-width: 300px
}
body.home .prateleira-padrao {
    height: 480px
}
body.home .slick-initialized {
    padding-bottom: 50px
}
body .busca-encontrada .search__results .main {
    margin: 0 35px 80px;
    width: calc(100% / 5)
}
body .flag.novidades {
    content: "Novo";
    font-size: 10px;
    border: 1px solid;
    text-transform: uppercase;
    padding: 3px 1px 1px 3px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 400
}
body.produto .produto-imagem {
    position: relative
}
body .header__autocomplete {
    border-bottom: 1px solid #eee;
    height: auto;
    z-index: 99999
}
body .flag {
    background-color: #333;
    color: #fff;
    float: right;
    font-size: 14px;
    height: 40px !important;
    margin: 0 10px;
    padding: 6px 7px;
    text-align: center;
    width: 64px !important
}
body .flag:first-child {
    margin-right: 0 !important
}
body .flag.best-sellers {
    background: url("/arquivos/best-sellers.png") no-repeat scroll !important;
    text-indent: -9999rem
}
body .flag.novo {
    background: url("/arquivos/novo.png") no-repeat scroll 0 -1px;
    text-indent: -9999rem
}
body .flag.frete-gratis {
    background: url("/arquivos/frete-gratis.png") no-repeat;
    text-indent: -9999rem
}
body .flag.esquenta-black-friday {
    background: url("/arquivos/esquenta-black-friday.png") no-repeat;
    text-indent: -9999rem
}
body .flags-product {
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 10px
}
body .flag-colecao {
    display: none
}
body.busca-encontrada .prateleira-padrao .prateleira-padrao {
    padding: 0 20px
}
body .pager li.previous, body .pager li.next {
    margin: 0 10px !important
}
body .prateleira-padrao .flag-colecao .flag {
    display: block
}
body .prateleira-padrao .flag-colecao .flag.best-sellers {
    margin-left: 0;
    position: static;
    float: right
}
body .submenu__list--item {
    line-height: 15px
}
body.produto.lente .container-especificacao #caracteristicas {
    float: left;
    padding: 0
}
body.produto.lente .container-especificacao span, body.produto.lente .container-especificacao img {
    display: none !important
}
body.produto.lente .sku-selector-container .topic {
    display: block
}
body.produto.lente .sku-selector-container .specification {
    width: 305px
}
body #seloEbit {
    float: left;
    margin: 10px 15px 0 0
}
dd.pci {
    margin: 10px 0 0
}
body.lente .skuList.item-dimension-Grau {
    max-height: 300px;
    overflow-y: auto !important
}
body .nav__item:nth-of-type(3) .nav__submenu .submenu__list, body .nav__item:nth-of-type(4) .nav__submenu .submenu__list {
    width: 15%;
    margin: 0 0 0 70px
}
body.busca-encontrada .search__results .prateleira-padrao li.icon-thumb-similarList {
    min-width: initial;
    width: 40px
}
body.busca-encontrada .search__results .prateleira-padrao li:hover .quickview-similares .prateleira__comprar {
    display: none !important
}


@media screen and (max-width: 768px) {
body.produto .produto-comprar .buy-button {
    width: 100%;
    background-position: -21px 0px
}
body .disponivel {
    font-size: 10px;
    margin-top: 3px
}
body.produto #calculoFrete .prefixo::after {
    font-size: .8rem
}
body.produto #calculoFrete .content .prefixo::before {
    left: initial;
    right: 0;
    top: -3px
}
body.produto .produto-preco .economia-de {
    color: #449d06;
    display: block !important;
    font-size: 12px;
    position: absolute;
    right: 16px;
    top: 0;
    left: inherit;
    white-space: pre-wrap;
    width: 100px;
    text-align: center
}
body.produto .x-parcel>strong {
    left: 0;
    top: 0
}
body.produto .produto-comprar .buy-button {
    margin: 24px auto 20px
}
body .disponivel:before {
    display: none
}
}

@media screen and (max-width: 425px) {
body.produto .produto-comprar .buy-button {
    width: 305px !important;
    background-position: 0px 0px
}
.busca-encontrada .search__results .prateleira-padrao li {
    width: 100%
}
.prateleira-padrao .prateleira__esgotado {
    margin-bottom: 20px
}
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: auto
}
body.home .banner-shelfs .prateleira__1-produto .prateleira-padrao .slick-prev {
    left: -18px
}
body.home .banner-shelfs .prateleira__1-produto .prateleira-padrao .slick-next {
    right: -18px
}
body .header__sandwich {
    z-index: 999
}
body.produto .brandName {
    margin-top: 0
}
body.produto .brandName {
    text-align: center
}
body .m-similares li {
    width: calc(100% / 3)
}
body .garantias-of7 li span {
    font-size: 13px
}
body.produto .produto-descricao>div h3 span {
    font-size: 1.2rem
}
body .container-especificacao .texto-4 {
    top: 290px
}
body.produto .garantia .selo {
    background: transparent;
    padding: 0
}
body.produto .produto-descricao .container-garantia ul li {
    font-size: 13px
}
body.produto .produto-info {
    margin: 0;
    padding: 0;
    width: 100% !important;
    margin-top: 50px
}
body .quem-comprou h3 {
    padding: 0
}
body .quem-comprou h3 span {
    font-size: 1.4rem;
    line-height: 25px
}
body .footer .footer__news .news__call {
    padding: 0 0 10px 0
}
body .footer .footer__news .news__submit {
    width: 127px
}
body .footer .footer__news {
    min-height: 220px
}
body .footer__middle {
    padding: 20px 0px
}
body .footer .footer__title {
    border-color: #999;
    line-height: 50px;
    font-size: 1rem;
    margin-bottom: -1px
}
body .footer__contact {
    padding-bottom: 20px
}
body .footer__bottom-info {
    padding: 0
}
body .footer__bottom {
    padding: 0px 5% 63px;
    border-top: 1px solid #777;
    line-height: 16px
}
body.produto .produto-imagem .zoomPad {
    border: 0
}
}

@media screen and (max-width: 1024px) {
body.produto .produto-info {
    margin-right: 0;
    width: 40%
}
body .prateleira-padrao .prateleira__nome {
    height: 78px
}
body .prateleira-padrao .prateleira__preco-por {
    width: 100%
}
body .prateleira-padrao .prateleira__preco-parcelado {
    width: 100%;
    float: left;
    margin-top: 0
}
body .prateleira-padrao .prateleira__preco {
    margin: 3px 5px 0 20px
}
body .prateleira-padrao .prateleira__preco-parcelas {
    margin-top: 0
}
body .a-vista {
    margin-top: 2px !important
}
body .prateleira-padrao .prateleira__preco-de {
    position: relative
}
body .prateleira-padrao .economia {
    color: #449d06;
    display: inline;
    font-size: 11px;
    width: auto;
    width: 76px;
    position: absolute;
    top: 2px;
    right: 8px;
    text-align: center;
    line-height: 15px
}
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: 47vw
}
}

@media screen and (max-width: 1024px) {
body.home .banner-shelfs .banner__1-produto, body.home .banner-shelfs .prateleira__1-produto {
    height: auto
}
}

@media screen and (max-width: 320px) {
.home .prateleira-padrao .prateleira__preco-de {
    width: 100%
}
body .a-vista {
    white-space: pre-line
}
}
